*{
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("IMG_7308 .jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    
}



.wrapper{
    background: rgba(98, 162, 185, 0.6); /* Color oscuro con opacidad del 50% */    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}


/* Estilos para la tabla */
.tabla {
    width: 100%;
    border-collapse: collapse;
}

.tabla th, .tabla td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.tabla th {
    background-color: #2f6e6b;
}

/* Estilos para el nuevo botón */
.customButton {
    background-color: rgba(98, 162, 185, 0.80); /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 16px; /* Tamaño del texto */
    margin: 20px; /* Margen exterior */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
}

/* Definición de una variable para reubicar el botón */
:root {
    --custom-button-position: absolute;
}

/* Clase para reubicar el botón usando la variable */
.relocateButton {
    position: var(--custom-button-position);
}


.tabla-gigas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #fff;  /* Texto blanco para mejor contraste */
}

.tabla-gigas th, .tabla-gigas td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
}

.tabla-gigas th {
    background-color: rgba(98, 162, 185, 0.80);  /* Fondo oscuro para el encabezado */
    color: #fff;  /* Texto blanco para el encabezado */
}

.tabla-gigas tr:nth-child(even) {
    background-color: rgba(98, 162, 185, 0.80);  /* Fondo gris oscuro para filas pares */
}

.tabla-gigas tr:nth-child(odd) {
    background-color: rgba(98, 162, 185, 0.80)  /* Fondo gris medio para filas impares */
}

.tabla-gigas tr:hover {
    background-color: #777;  /* Fondo gris claro al pasar el cursor */
}

